.panel {
  height: 100vh;
  margin-bottom: 400px;
  text-align: center;
}

.blue {
  text-align: center;
}

.green {
  background: green;
}

.purple {
  background: purple;
}

.charFrame {
  text-align: center;
  margin-right: 2.5%;
  margin-left: 2.5%;
  width: 15%;
}

#fiveCharsName {
  font-size: 10px;
  display: flex;
}