.panel {
  height: 100vh;
  margin-bottom: 400px;
  text-align: center;
}

.first {
  padding: 50px;
  background: linear-gradient(to bottom right, #E01414, yellow);;
  text-align: center;
}

.second {
  background: green;
}

.third {
  background: purple;
}

.charFrame {
  text-align: center;
  margin-right: 2.5%;
  margin-left: 2.5%;
  width: 15%;
}

.comicFrame {
  text-align: center;
  margin-right: 2.5%;
  margin-left: 2.5%;
  width: 15%;
}

#fiveCharsName {
  font-size: 10px;
  display: flex;
}

#fiveComicName {
  font-size: 10px;
  display: flex;
}

.changeSize {
  max-width: 1000px;
  height: 100px;
  margin: 0 auto;
}